# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

 1. Python
 2. R
 3. Java
 4. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scikit Learn
4. Matplotlib
5. Seaborn
6. Tensor Flow

#### Data Science Tools

| Data Science Tools | 
| --- | 
| Jupyter Notebook/Lab |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
result1 = 10 + 5  # Addition
result2 = 10 - 5  # Subtraction
result3 = 10 * 5  # Multiplication
result4 = 10 / 5  # Division
print(result1, result2, result3, result4) # Output: 15 5 50 2.0

15 5 50 2.0

### Create a code cell to multiply and add numbers

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

### Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
#This will convert 200 minutes to hours by diving by 60

min=int(input("Enter time in minutes"))
h=min//60.
m=min%60
print(h,m)

Enter time in minutes200
3.0 20

### Exercise 10 - Insert a markdown cell to list Objectives

### Objectives:

- Identify in which Kernel your Jupyter notebook is running
- Create headings, and add text in bold and italics in Markdown
- List popular languages for Data Science
- Create Tables in Markdown
- Create ordered and unordered lists in Markdown
- Demonstrate your proficiency in using Markdown in Jupyter notebooks

### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Satarupa Das